# /node_modules/* and /bower_components/* in the project root are ignored by default

# Example Start
# Ignore built files except build/index.js
# build/*
# !build/index.js
# Example end

dist/*
build/*
coverage
webpack.*.js
