h1 {
    padding: 10px;
    margin: 0px;
    background: #739366;
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
}
div.source {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0;
}
label {
    display: inline-block;
    margin: 2px;
    width: 45%;
}
label > span {
    min-width: 100px;
    display: inline-block;
}

select {
    min-width: 100px;
}

main {
    position: relative;
}
strong {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}
video {
    width: 100%;
    height: auto;
}
body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
@media screen and (max-width: 400px) {
    label,
    label > select {
        width: 100%;
    }
}
